html {
    margin: 0
}
body {
    background-color: rgb(224, 234, 255);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0
}
main {

    background-color: antiquewhite;
    width: 60ex;
    margin: 0 auto;
    padding: 4ex 4ex 4ex 4ex;
}

toptitle {
    display: block;
    font-style: italic;
    text-align: center;
    /* margin-bottom: 2em; */
}
toptitle b {
    padding: 0 2ex; /* replace by  */

    /* text-align: center; */
    /* margin-bottom: 2em; */
}
 
p {
    text-indent: 4ex;
}
h1 { 
  
    text-align: center;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: .5em 0;
}

h4 {
    display: block;
    font-size: 70%;
}



author {
    font-weight: bolder;
}

footnotes {
    display: block;
    font-size: 90%;
    margin-top: 2em;
    font-family: sans-serif;
}
